.container-about {
  display: flex;
  width: 150%;
  padding: 1px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  margin-left: -25%;
  margin-top: -50px;
}

.card {
  flex: 1;
  margin: 0 2px;
  box-shadow: 0 0 50px #0002;
  overflow: hidden;
  border-radius: 4px;
  transition: 0.3s;
  height: 240px;
}

.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 4px;
  filter: grayscale(1);
}
.card:hover {
  flex: 3;
}
.card:hover img {
  filter: none;
}

@media (max-width: 1326px) {
  .container-about {
    margin-top: 10px;
  }
}

@media (max-width: 868px) {
  .container-about {
    width: 90%;
    margin-left: 5%;
    margin-top: 25px;
  }
}
@media (max-width: 600px) {
  .container-about {
    width: 90%;
    margin-left: 5%;
    margin-top: 25px;
  }

}

.navbar {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-about {
  width: 100%;
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
  color: rgb(255, 255, 255);
}

.footer-content-h5 {
  margin-top: 20px;
}

.footer-content-c {
  margin-top: -10px;
}