.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 150%;
}

h1{
  display:flex;
  justify-content: center;
}

.map-container {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  height: 250%;
  width: 100%;
}

.card-container {
  flex: 0 0 auto;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
}

.point {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.hover-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hover-box.active {
  display: block;
}

.hover-box p{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-top: -10px;
}

.hover-box h1{
  text-align: center;
  margin-top: -20px;
}

.hover-box a{
  color: aqua;
}


.hover-box img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.hover-box button{
  text-align: right;
  border-radius: 100px;
}


.point:hover .tooltip{
  display: block;
}

.max-size {
  width: 100%;
  height: 100%;
}

.point-name {
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: none; /* agar awalnya tidak terlihat */
}

@media (max-width: 1200px) {
  .point-name#pdg {
    left: auto;
    right: 0;
    transform: translateX(100%);
  }

  .point-name#mdn {
    left: auto;
    right: 0;
    transform: translateX(100%);
  }

  .Card{
    width:100%;
  }

  .max-size {
    width: 100%;
    height: 100%;
  }

  .Card p{
    font-size: 10px;
  }
  
}

.point:hover .point-name {
  display: block; /* munculkan saat point dihover */
}

.Card {
  height: 400px;
  max-width: max-content;
  margin: 10px auto;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

.Card img {
  height: 100%;
  width: 100%;
}

.intro {
  text-align: center;
  height: 90px;
  max-width: 900px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  background: black;
  bottom: 0;
  color: white;
  transition: 0.5s;
}

.Card:hover {
  cursor: pointer;
}

.Card p {
  visibility: hidden;
  opacity: 0;
  font-size: 12px;
  margin: 10px;
}

.Card h3 {
  margin: 10px;
  font-size: 40px;
}

.Card:hover .intro {
  height:270px;
  bottom: 270px;
  background-color: black;
}

.Card:hover p {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.expanded {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}